* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
}

h1 {
    text-align: center;
    margin-bottom: 1em;
}

.container {
    display: flex;
    height: auto;
    width: 80%;
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.div-area {
    border: 1px solid black;
    width: 40%;
    display: inline-block;
    padding: 1.5em;
}

li {
    border: 1px solid black;
    margin-bottom: 0.5em;
    padding: 0.5em;
    list-style: none;
    transition: 0.3s;
    width: 100%;
    height: 2.5em;
}

li:hover {
    color: white;
    background-color: black;
}

button {
    padding: 0.5em;
    display: inline-block;
    background-color: gray;
    transition: 0.3s;
}
button:hover {
    background-color: rgb(159, 159, 159);
}

.primeira .selected {
    border: 3px solid green;
    box-shadow: 0 0 3px green;
}

.segunda .selected {
    border: 3px solid red;
    box-shadow: 0 0 3px red;
}
