.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
    opacity: 0;
    position: absolute;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: gray;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

a {
    display: inline-block;
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 1.5em;
}
a:hover {
    background-color: rgb(62, 62, 62);
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    padding: 1em 0 5em 0;
    text-align: justify;
    width: 80%;
    margin-top: 5em;
}

input.erro {
    border: 2px solid red;
}

input.confirm {
    border: 2px solid green;
}

footer {
    width: 100%;
    height: 10%;
    background-color: gray;
    text-align: center;
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
}

@media (max-width: 500px) {
    .material-symbols-outlined {
        position: relative;
        opacity: 100%;
        color: white;
        background-color: gray;
        width: 100%;
        text-align: right;
        padding: 0.8em;
    }

    .hide-icon {
        display: none;
    }

    a {
        display: block;
    }
}
